
<% if (locals.saved ) { %>
  <h2 style="color: green">Files were saved successfuly</h2>
<% } %>

<h1>Listing files</h1>


<table class='table'>
  <tr>
    <th>Filename</th>
    <th>Link</th>
    <th>Author</th>
    <th></th>
  </tr>

  <% _.each(locals.files, function (file) { %>
      <tr>
        <td><%= file.filename %></td>
        <td><a href="/files/<%= file.localname %>">Open file</a></td>
        <td><% if (file.author ) { %><%= file.author.login %><% } %></td>
        <td><a href="/filesPage/remove/<%= file.id %>">Remove</a></td>
      </tr>
  <% }) %>

</table>
<br />

<h1>Upload new file</h1>
<p>Select one or more files to upload</p>

<form action="/filesPage/upload" enctype="multipart/form-data" method="post">

<input type="file" name="uploadedFile" multiple="multiple"><br>

<input type="submit" value="Upload">
</form>