<!DOCTYPE html>
<html>
  <head>
    <title>DB Prototype</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <style>
        .input-group { margin-bottom: 20px; }
        body { padding-bottom: 50px; }
    </style>
  </head>

  <body>

    <nav class='navbar navbar-inverse'>
      <div class='container'>
          <div class='navbar-brand'>
              <a href='/'>DB Prototype</a>
          </div>
          <ul class='nav navbar-nav'>
              <li>
                  <a href='/courses'>Courses</a>
              </li>
              <li>
                  <a href='/pupils'>Pupils</a>
              </li>
              <li>
                  <a href='/schools'>Schools</a>
              </li>
          </ul>
      </div>
  </nav>

    <div class='container'>
      <%- body %>
    </div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/npm.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
