<h1>Create School</h1>
<form action="/schools/create" method="POST">

	<div class='input-group'>
		<label for="name">Name: </label>
		<input id="name" class='form-control' name="name" type="text" /> <br/>
	</div>

	<div class='input-group'>
		<label for="street">Street: </label>
		<input id="street" class='form-control' name="addressStreet" type="text" /> <br/>
	</div>
	<div class='input-group'>
		<label for="city">City: </label>
		<input id="city" class='form-control' name="addressCity" type="text" /> <br/>
	</div>
	<div class='input-group'>
		<label for="zipCode">Zip code: </label>
		<input id="zipCode" class='form-control' name="addressZipCode" type="text" /> <br/>
	</div>


	<input class='btn btn-primary' type="submit"/>

    <a class='btn btn-default' href="/schools">Back</a>
</form>
