<h1>View School</h1>

    <dl class='dl-horizontal'>
	    <dt>Name: </dt> <dd><%= data.name %> </dd>

    	<dt>Street: </dt> <dd><%= data.address.street %></dd>

    	<dt>City: </dt> <dd><%= data.address.city %></dd>

		<dt>Zip code: </dt> <dd><%= data.address.zipCode %></dd>
    </dl>

    <a class='btn btn-default' href="/schools">Back</a>
</form>
